@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../../public/assets/scss/main";

*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
