@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../../public/assets/scss/main";

*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #a4a4a4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
  color: black;
}
span,
p {
  margin: 0px;
  padding: 0px;
  color: #a4a4a4;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hide-scrollbar {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  scrollbar-width: none; /* Hide the scrollbar */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}
